<div>
<h2>No value</h2>
{{states-select onlyDisplayStateCode=true value="" id="selectBox1" class="form-control"}}
</div>
<div>
	<h2>Value</h2>
	{{states-select 
		onlyDisplayStateCode=true 
		blur=(action "blur")
			value="FL" id="selectBox2" class="form-control"}}
</div>
{{outlet}}
